# Исключаем Git и IDE
.git
.gitignore
.idea
.vscode
*.iml

# Исключаем локальную сборку Maven (чтобы не было конфликтов с Docker-сборкой)
target/

# Исключаем логи
*.log

# Исключаем Docker-специфичные файлы
docker-compose.yml
Dockerfile
.dockerignore

# Исключаем папку с документацией (если она не нужна внутри образа)
docs/

# Исключаем временные файлы системы
.DS_Store
Thumbs.db

# Исключаем файл с секретами
.env
