services:
  app:
    #profiles:
   #   - donotstart
   # labels:
    #  org.springframework.boot.ignore: "true" # Spring Boot проигнорирует этот сервис
    build: .
    develop:
      watch:
        - action: rebuild
          path: pom.xml
        - action: sync
          path: ./src
          target: /app/src
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      # Используем имя сервиса 'postgres' вместо длинного имени контейнера
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/bankapidb
      - SPRING_DATASOURCE_USERNAME=bankadmin
      - SPRING_DATASOURCE_PASSWORD=example

  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_DB=bankapidb
      - POSTGRES_USER=bankadmin
      - POSTGRES_PASSWORD=example
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
